.row1{
    background-color: #CCCCCC;
    color: green;
    text-align: left;
    border: 1px solid #CCCCCC;

}
.baseRowStyle {
    color: red;
    text-align: center;
}

.row2{
    background-color: pink;
    /*color: black;*/
    /*text-align: left;*/
    border: hidden;
}
/*.row3{*/
/*    background-color: #EEEEEE;*/
/*    color: black;*/
/*    text-align: left;*/
/*}*/

.row4{
    background-color: white;
    /*color: black;*/
    /*text-align: left;*/
}
.table{
    border-collapse: collapse;
    border-bottom: 1px solid silver;
    width: 700px;
}