table, th, td {
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
.line{
    background-color: #99CCFF;
    color: 	#0066CC;
    text-align: left;
}
.searchInput{
    border: 1px solid #777777;
    margin-top: 12px;
    margin-left: 3px;
    width: 100px;
}
.myBtn {
    background-color: silver;
    color: black;
    border: 1px solid black;
    padding: 2px;
    display: inline-block;
    cursor: pointer;
    margin-top: 4px;
}
.img{
    margin-top: 20px;
}

.courseNumberColor {
    color: #337abc;
    font-family: Arial, serif;
    background-color: #dddddd;
}